.font {
  font-family: "Almarai", sans-serif;
}

/* navbar */
.logo {
  width: 40px;
}

.nav-text {
  font-family: "Almarai", sans-serif;
  color: white;
}

/* category */

.category-Img-background {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding-top: 3px;
  margin-right: 27px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.category-Img {
  position: absolute;
  top: 15%;
  right: 15%;
  height: 110px;
  width: 90px;
}
/* product */

.product-img {
  width: 100%;
  height: 220px;
}

/* discount section */

.discount-section {
  width: 86%;
  max-height: fit-content;
  min-height: fit-content;
  background: linear-gradient(to right, #4c5053 0%, #000000 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.discount-img {
  width: 250px;
  width: 160px;
}

.discount-text {
  padding: 50px 0;
  text-align: center;
  color: white;
}

/* auth */

.auth-text {
  text-align: center;
}
