.font {
  font-family: "Almarai", sans-serif;
}

/* navbar */
.logo {
  width: 40px;
}

.nav-text {
  font-family: "Almarai", sans-serif;
  color: white;
}

/* category */

.category-Img-background {
  position: relative;
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding-top: 3px;
  margin-right: 27px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.category-Img {
  position: absolute;
  top: 15%;
  right: 15%;
  height: 110px;
  width: 90px;
}

.cat-product-header {
  margin: 6px;
  padding: 4px;
  font-family: "Almarai", sans-serif;
  cursor: pointer;
}

.cat-product-header:hover {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.564);
  color: white;
}
/* product */

.product-img {
  width: 100%;
  height: 220px;
}

.product-header {
  background-color: #edeaea;
}

/* discount section */

.discount-section {
  width: 86%;
  max-height: fit-content;
  min-height: fit-content;
  background: linear-gradient(to right, #4c5053 0%, #000000 100%);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}

.discount-img {
  width: 250px;
  width: 160px;
}

.discount-text {
  padding: 50px 0;
  text-align: center;
  color: white;
}

/* auth */

.auth-text {
  text-align: center;
}

/*dropdown*/

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown > .dropdown-toggle:active {
  pointer-events: none;
}

.filter-title {
  color: #555550;
  font-family: "Almarai";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 20px;
  text-align: right;
}

.filter-sub {
  color: #555550;
  font-family: "Almarai";
  font-size: 12px;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}
